<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://storage.googleapis.com/matisse/style/bootstrap.min.css">
    <script src="https://storage.googleapis.com/matisse/style/jquery-3.2.1.slim.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/popper.min.js"></script>
    <script src="https://storage.googleapis.com/matisse/style/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="https://storage.googleapis.com/matisse/afbeeldingen/250px-Flag_of_Sint_Maarten.svg.png" alt="Logo" style="width:40px;">
    </a>


    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">TODO list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>

</nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Home page with some information</h1><br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a dignissim urna. Sed nec orci consequat, lobortis purus nec, egestas dolor. In rutrum elementum ex sed laoreet. Donec ac orci suscipit elit molestie facilisis a sed dui. Curabitur vitae nunc velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet, velit semper pulvinar tincidunt, nunc ligula hendrerit ex, a sodales eros libero eu felis. Vestibulum ut sapien vel sem gravida cursus quis at neque.

            Proin maximus dui eu vulputate sagittis. Nunc vel imperdiet neque, eget feugiat nibh. Donec dui nisi, fringilla sed justo sollicitudin, lacinia maximus justo. Aenean tortor ex, placerat at mauris eget, bibendum finibus lacus. Vestibulum dignissim dictum lectus ac malesuada. Nulla ac vestibulum metus. Nullam luctus rutrum mi vitae commodo. Duis ultricies orci et rhoncus egestas. Nulla facilisi. Aenean euismod enim quis sem iaculis, eu interdum nunc vulputate. Nam sed dolor tristique, sodales mauris ac, gravida lorem. Cras faucibus, lectus a varius volutpat, velit purus egestas orci, eget hendrerit justo ex id est. In aliquam eu erat vel mollis. Fusce sit amet vehicula mauris, et bibendum lacus.

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam eu felis purus. Vestibulum molestie scelerisque molestie. Pellentesque bibendum viverra neque, dapibus facilisis mi eleifend in. Integer at pulvinar odio. Fusce commodo ante sed urna pellentesque finibus. Integer laoreet laoreet rutrum. Nulla molestie erat magna, et iaculis eros sagittis ac. Maecenas dignissim velit id risus egestas faucibus.

            Praesent mi mi, sodales eget nunc at, egestas hendrerit magna. Sed eget mi commodo, facilisis arcu id, egestas arcu. Etiam hendrerit, metus ac accumsan mattis, est risus dictum metus, ut placerat metus nunc a turpis. Quisque porttitor sapien libero, eu mollis ante elementum eu. Fusce eu egestas nisl, id dictum nisl. Aliquam sit amet consequat ipsum, lacinia fermentum lectus. Duis id viverra tellus, eu tincidunt turpis. Integer eu fermentum magna. Donec tristique ultrices leo, tempor faucibus nisl egestas non. Donec fermentum lacus consequat, blandit mi facilisis, accumsan arcu. Integer tincidunt, nulla eu molestie ornare, purus ante elementum elit, eu varius urna enim tempus ex.

            Vivamus volutpat vel quam in auctor. Vestibulum eleifend id nisl facilisis porta. Nam rhoncus molestie lacus feugiat vehicula. Aliquam id risus quam. Nullam tincidunt velit eget facilisis elementum. Maecenas hendrerit ut lorem ut maximus. Mauris aliquet eget libero maximus rhoncus.</p>
    </div>
</div>

</body>
</html>