body {
    height: 100%;
}
.background {
    /* The image used */
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background: url("https://storage.googleapis.com/matisse/afbeeldingen/onaangepast_Caribische_strand_St_Maarten.jpg") no-repeat center;
    background-size: cover;
}

